.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    min-height: 150px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

@media screen and (min-width: 450px) {
    .yellow {
        width: 50%;
    }
    #container2 {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {
     . yellow {
        width: 25%;
        order: 1;
    }

    #container2 {
        width: 50%;
    }

    .red {
        width: 25%;
        order: -1;
    }
}