.box {
    height: 100px;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

@media screen and (min-width: 450px) {
    .blue {
        width: 25%;
    }

    .yellow {
        width: 75%
    }
}

@media screen and (min-width: 550px) {
    .blue {
        width: 25%;
    }

    .yellow {
        width: 25%
    }

    .purple {
        width: 50%
    }

}