h1 {
    color: yellow;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    height: 100px;
    text-align: center;
}

.red {
    background-color: red;
    width: 50%;
    order: 2;
}

.green {
    background-color: green;
    width: 100%;
    order: 3;
}

.blue {
    background-color: blue;
    width: 33.3%;
    order: 4;
}

.lime {
    background-color: lime;
    width: 100%;
    order: 0;
}

.yellow {
    background-color: yellow;
    width: 33.4%;
    order: 5;
}

.orange {
    background-color: orange;
    width: 50%;
    order: 1;
}

.purple {
    background-color: purple;
    width: 33.3%;
    order: 6;
}